---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="png" href="/oleee.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Aegis - Smart Construction Protection</title>
		<meta name="description" content="Smart protection for construction sites. Real-time monitoring, predictive analytics, and instant alerts." />
	</head>
	<body class="bg-black min-h-screen">
    <slot/>
	</body>
</html>
